@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Jersey+10&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap");

body {
  background-color: #75d59a;
  font-size: 35px;
  font-family: "Pixelify Sans", sans-serif;
}

canvas {
  border: 4px solid black;
  border-radius: 5%;
  background-image: url("./assets/crumpled_paper.jpg");  /* source to image: https://www.flickr.com/photos/chiaralily/6599331429 */
  filter: drop-shadow(10px 10px 10px #0000007e);
}

button {
  font-family: "Pixelify Sans", sans-serif;
  color: #000000;
  background-color: #c0ffd8;
  border: 1px solid #000000;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 30px;
  cursor: pointer;
}

button:disabled {
  background-color: #ffffff;
  cursor: not-allowed;
}

/* shoutouts to this stack overflow post!
https://stackoverflow.com/questions/5119711/ */
.divider {
  height: 5px;
  width: 5px;
  padding: 0.5rem;
  display: inline-block;
}

.display {
  justify-content: center;
  align-items: center;
  vertical-align: center;
  display: grid;
  grid-template-areas:
    "edit-box canvas-box canvas-box slider-box"
    "edit-box canvas-box canvas-box slider-box"
    "shapes-box canvas-box canvas-box slider-box"
    "shapes-box canvas-box canvas-box slider-box";
}

.canvas-display {
  align-items: center;
  vertical-align: center;
  text-align: center;
  padding: 1rem;
}

.edit-display {
  min-height: 256px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.color-preview {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-image: url("./assets/transparency-grid.jpg");
}

.color-preview-bg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #000000;
}

.slider-display {
  font-size: 30px;
  padding: 1rem;
  display: grid;
}